
/.DS_Store
/.project
/build-harness
/build-harness-extensions
/vendor

Dockerfile.tmp
Dockerfile.original

results/**
!results/.gitkeep
results.xml

resources/options.yaml
resources/install-config.yaml
resources/clusterdeploy.yaml

.build-harness
.build-harness-bootstrap
.vscode
.test.sh

local.rc
.DS_Store

# new
open-cluster-management-e2e
open-cluster-management-e2e.test
data/
data.1/
data.*/

